{% extends 'base_template.html.twig' %}
{% block title %}
	{{constantes.application.website_name}}
	-
	{{ annonce.titre }}
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row row-cols-md-2 align-items-center">
			<div class="col">
				<div class="card h-100" style="width: 300px">
					<img src="{{ annonce.urlPhoto }}" class="card-img-top" h="300" alt="Photo {{ annonce.idAnnonce }}">
				</div>
			</div>

			<div class="col">
				<div
					class="card h-100 p-3">
					{# Avatar généré avec les initiales basées sur nom et prenom #}
					<a href="index.php?controleur=compte&methode=afficher&id={{ idVendeur }}" class="row m-2 align-items-center mb-4 text-decoration-none text-dark">
						<div class="  col-1 rounded-circle bg-primary text-white d-flex align-items-center justify-content-center me-3" style="width: 50px; height: 50px; font-weight: bold;">
							{{ prenom|first|upper }}{{ nom|first|upper }}
						</div>
						<div class="col">
							<h1>{{ prenom }}
								{{ nom }}</h1>
						</div>
					</a>
					<h2 class="card-title">{{ annonce.titre }}</h2>
					<p>
						<strong>Prix :</strong>
						{{ annonce.prix }}
						€</p>
					<p>
						<strong>Etat du jeu :</strong>
						{{ annonce.etatJeu }}</p>
					<p>
						<strong>Description :</strong>
						{{annonce.description}}</p>
					<p>
						<strong>Date de la publication :</strong>
						{{ annonce.datePub }}</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
