{% extends 'base_template.html.twig' %}

{% block title %}{{ constantes.application.website_name }} - Annonces{% endblock %}

{% block body %}
   		<ul id="resultats-autocomplete"
        	class="list-group position-absolute w-100"
        	style="top: 100%; left: 0; z-index: 1000; display: none;">
    	</ul>
	</form>

<h1>Liste des annonces</h1>

<div class="row row-cols-2 row-cols-md-4 g-4">
    {% for a in annonces %}
        <div class="col">
            <div class="card h-100 shadow-lg border-0 p-4 text-center list-unstyled">
                <li><img src="{{ a.url }}" alt="Photo {{ a.idAnnonce }}" width="100%"></li>
                </br>
                <strong>{{ a.titre }}</strong></br>
                <a href="index.php?controleur=Annonce&methode=afficher&id={{ a.idAnnonce }}">Voir plus</a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
