{% extends 'base_template.html.twig' %}
{% block title %}{{constantes.application.website_name}} - Annonces{% endblock %}

{% block body %}
<h1>Liste des annonces</h1>
<ul class="list-group">
{% for a in annonces %}
        <li class="list-group-item">
            <img src="{{ constantes.application.game_image_path }}{{ a.url }}" alt="Photo {{ a.idAnnonce }}" width="100">
            {{ a.titre }} - <a href="index.php?controleur=Annonce&methode=afficher&id={{ a.idAnnonce }}">Voir plus</a>
        </li>
{% endfor %}
</ul>
{% endblock %}
