{% extends 'base_template.html.twig' %}
{% block title %}
	{{constantes.application.website_name}}
	-
	{{ annonce.titre }}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row row-cols-md-2 align-items-center">
        <div class="col">
            <div class="card h-100 p-3" style="width: 300px">
                <img src="{{ annonce.urlPhoto }}" class="card-img-top" h="300" alt="Photo {{ annonce.idAnnonce }}">
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="card h-100 p-3">
                    <h2 class="card-title">{{ annonce.titre }}</h2>
                    <p><strong>Prix :</strong> {{ annonce.prix }} €</p>
                    <p><strong>Etat du jeu :</strong> {{ annonce.etatJeu }}</p>
                    <p><strong>Description :</strong> {{annonce.description}}</p>
                    <p><strong>Date de la publication :</strong> {{ annonce.datePub }}</p>
                    <a class="btn btn-primary" href="index.php?controleur=paiement&methode=adresseLivraison&id={{ annonce.idAnnonce }}">Acheter</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
