{% extends "base_template.html.twig" %}
{% block title %}
	{{constantes.application.website_name}}
	- Gestion des commandes
{% endblock %}

{% block body %}
	<div class="container mt-5 ">
		<h1 class="text-center fw-bold">
			Vos Commandes
		</h1>
		<div class="card shadow-sm border-0">
			<div class="list-group list-group-flush rounded shadow-sm">

				{% if commandes is empty %}
					<div class="text-center p-5">
						<i class="bi bi-chat-square-dots text-muted" style="font-size: 3rem;"></i>
						<p class="mt-3 text-muted">Vous n'avez aucune commande pour le moment.</p>
					</div>
				{% else %}
				<div class="table-responsive">
					<table class="table table-striped">
						<thead class="table-dark">
							<tr>
								<th class="text-nowrap">Jeu commandé</th>
								<th class="text-nowrap">Date de la commande</th>
								<th class="text-nowrap">Numéro de suivi</th>
								<th class="text-nowrap">Prix</th>
								<th class="text-nowrap">Status</th>
								<th class="text-nowrap">Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for commande in commandes %}
								<tr>
									<td>
										<a href="index.php?controleur=Annonce&methode=afficher&id={{ commande.idAnnonce }}">{{ commande.titre }}</a>
									</td>
									<td>{{ commande.dateCommande|date('d/m/Y') }}</td>
									<td>{{ commande.numeroDeSuivi }}</td>
									<td class="text-nowrap">{{ commande.prix }}
										€</td>
									<td>{{ commande.status }}</td>
									<td class="text-nowrap">
										<a href="index.php?controleur=livraison&methode=afficher&id={{ commande.idLivraison }}" class="btn btn-primary btn-sm">Voir Détails</a>
									</td>
								</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>
	</div>
{% endblock %}
