{% extends 'base_template.html.twig' %}
{% block title %}{{constantes.application.website_name}} - {{ compte.prenom }} {{ compte.nom }}{% endblock %}

{% block body %}
    <h1>{{ compte.prenom }} {{ compte.nom }}</h1>
    <p><strong>Email :</strong> {{ compte.email }}</p>
    <p><strong>Date d'inscription :</strong> {{ compte.dateInscription }}</p>
    <p><strong>Note :</strong> {{ compte.note }}</p>
    <p><strong>Rôle :</strong> {{ compte.role }}</p>

    <form method="POST" action="index.php?controleur=connexion&methode=deconnexion" class="row g-3 position-relative" autocomplete="off">
        <div >
            <button type="submit" class="btn btn-primary me-md-2">Se déconnecter</button>
        </div>
    </form>
{% endblock %}
