{% extends 'base_template.html.twig' %}
{% block title %}
	{{constantes.application.website_name}}
	-
	{{ compte.prenom }}
	{{ compte.nom }}
{% endblock %}

{% block body %}
    <h1>{{ compte.prenom }} {{ compte.nom }}</h1>
    <p><strong>Email :</strong> {{ compte.email }}</p>
    <p><strong>Date d'inscription :</strong> {{ compte.dateInscription }}</p>
    <p><strong>Note :</strong> {{ compte.note }}</p>
    <p><strong>Rôle :</strong> {{ compte.role }}</p>
    {% if compte.role == 'administrateur' or compte.role == 'moderateur' %}
    <hr>
    <a href="index.php?controleur=admin&methode=dashboard"
       class="btn btn-danger">
        Accéder au Back-Office
    </a>
    {% endif %}

				{% for ann in annonces %}
					<div class="col-5">
						<a href="index.php?controleur=annonce&methode=afficher&id={{ ann.idAnnonce }}" class="card card-block card-1">
							<div class="m-2">
								<h3>{{ ann.titre }}</h3>
								<p>{{ ann.description }}</p>
								<p>
									<strong>Prix :</strong>
									{{ ann.prix }}
									€</p>
								<p>
									<strong>Date de publication :</strong>
									{{ ann.datePublication }}</p>
								<img src="{{ ann.url }}" alt="Image de l'annonce" class="img-fluid" style="max-width: 200px; height: auto;"/>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}
</div>
{% endblock %}
