{% extends 'base_template.html.twig' %}
{% block title %}{{ compte.prenom }} {{ compte.nom }}{% endblock %}
{% block body %}
    <h1>{{ compte.prenom }} {{ compte.nom }}</h1>
    <p><strong>Email :</strong> {{ compte.email }}</p>
    <p><strong>Date d'inscription :</strong> {{ compte.dateInscription }}</p>
    <p><strong>Note :</strong> {{ compte.note }}</p>
    <p><strong>Rôle :</strong> {{ compte.role }}</p>
{% endblock %}
