{% extends "base_template.html.twig" %}

{% block title %}{{constantes.application.website_name}} - Commande n°{{commande.idLivraison}}{% endblock %}

{% block body %}
<div class="container mt-5">
		<h1 class="text-center fw-bold">
			Détails de la commande n°{{ commande.idLivraison }} - 
            <a href="index.php?controleur=Annonce&methode=afficher&id={{ commande.idAnnonce }}">{{ commande.titre }}</a>
		</h1>
		<div class="card shadow-sm border-0">
			<div class="list-group list-group-flush rounded shadow-sm">

                <ul class="list-group">
                    <li class="list-group-item"><strong>Date de la commande :</strong> {{ commande.dateCommande|date('d/m/Y') }}</li>
                    <li class="list-group-item"><strong>Numéro de suivi :</strong> {{ commande.numeroDeSuivi }}</li>
                    <li class="list-group-item"><strong>Prix :</strong> {{ commande.prix }} €</li>
                    <li class="list-group-item"><strong>Status :</strong> {{ commande.status }}</li>
                    <li class="list-group-item"><strong>Adresse de livraison :</strong> {{ commande.adresse }} {{ commande.codePostal }} {{ commande.ville }} {{ commande.pays }}</li>
        </div>
    </div>
{% endblock %}