<h1>Hello word</h1>

<h2>Variable simple</h2>
<p>{{uneChaine}}</p>

<h2>Tableau</h2>
<p>
	{{dump(unTableau)}}
	{{unTableau.1}}


</p>

<h2>Tableau associatif</h2>
<p>{{unTabAsso.nom}}</p>

<h2>La classe</h2>
<p> {{unPerso}} </p>

<h2>La classe</h2>