{% extends 'base_template.html.twig' %}
{% block title %}
	{{constantes.application.website_name}}
	-
	{{ publication.idPublication }}
	{{ publication.sujet }}
{% endblock %}

{% block body %}
	<main class="text-center container">
		<div class="list-group-item list-group-item-action bg-white p-5" aria-current="true">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1">{{ publication.sujet }}</h5>
				<small>{{publication.dateEnvoi}}</small>
			</div>
			<p class="mb-1">{{publication.contenu}}</p>

			{# {% for commentaire in publication %}
				{% if publication.idPostPrincipale == null %}
					<a href="index.php?controleur=forum&methode=afficher&id={{ publication.idPost }}" class="list-group-item list-group-item-action" aria-current="true">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">{{ publication.sujet }}</h5>
							<small>{{publication.dateEnvoi}}</small>
						</div>
						<p class="mb-1">{{publication.contenu}}</p>
						<small href="index.php?controleur=forum&methode=afficher&id={{ publication.idPost }}" class="text-body-secondary">commentaire</small>
					</a>
				{% endif %}
			{% endfor %} #}

			<div>
				<form method="POST" action="" class="row g-3 position-relative mt-5" autocomplete="off">
					<div class="position-relative">
						<input type="text" class="form-control" name="titre" placeholder="commente" required>
					</div>
				</div>
			</div>
		</main>
	{% endblock %}