{% extends 'base_template.html.twig' %}
{% block title %}{{constantes.application.website_name}} - Détails du Signalement{% endblock %}

{% block body %}

<h1>Signalement #{{ signalement.idSign }}</h1>
<p><strong>Type :</strong> {{ signalement.type }}</p>
<p><strong>Date :</strong> {{ signalement.dateSign }}</p>
<p><strong>Contenu :</strong> {{ signalement.contenu }}</p>
<p><strong>Compte signalé :</strong> {{ signalement.idCompteSignale }}</p>
<p><strong>Compte ayant signalé :</strong> {{ signalement.idCompte }}</p>
{% endblock %}